<ng-template cxOutletRef="TopContent" [cxOutletPos]="after">

    <!-- <h1>hello gopikannan</h1> -->

    <!-- <p>{{product | json}}</p>  -->

    <!-- <div class="product-carousel">
        <h1>my custom page</h1>
        <h2>Our Bestselling Products</h2>
        <div class="carousel">
          <button class="carousel-prev">&lt;</button>
          <div class="carousel-items">
          
            <div class="product-item">
              <a routerLink="">
              <img src="..\assets\img\nv10.jpeg" alt="Photosmart E317 Digital Camera">
              <h3>Photosmart E317 Digital Camera</h3>
              <p>$114.12</p></a>
            </div>
      
            <div class="product-item">
              <a routerLink="">
              <img src="..\assets\img\cybershot.jpeg" alt="DSC-N1">
              <h3>DSC-N1</h3>
              <p>$485.57</p></a>
            </div>
    
            <div class="product-item">
              <a routerLink="">
              <img src="..\assets\img\cybershotw5.jpeg" alt="NV10">
              <h3>NV10</h3>
              <p>$264.69</p></a>
            </div>
    
            <div class="product-item">
              <a routerLink="/">
              <img src="..\assets\img\dsc.jpeg" alt="Cyber-shot W55">
              <h3>Cyber-shot W55</h3>
              <p>$260.87</p></a>
            </div>
          </div>
          <button class="carousel-next">&gt;</button>
        </div>
        <div class="carousel-dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div> -->
 
</ng-template>
<!-- <cx-product-carousel></cx-product-carousel> -->