<footer class="footer">
    <div class="footer-top">
      <div class="payment-options">
        <h4>PAY SECURELY BY</h4>
        <img src="https://www.shoppersstop.com/images/visa.png" alt="Visa" />
        <img src="https://www.shoppersstop.com/images/masters_card.png" alt="American Express" />
        <img src="https://www.shoppersstop.com/images/rupay.png" alt="RuPay" />
      </div>
      <div class="contact-us">
        <h4>REACH OUT TO US</h4>
        <p>
          For any queries, please write to us:
          <a href="https://laderatechnology.com/" target="_blank">laderatechnology.com</a>
        </p>
      </div>
      <div class="download-app">
        <h4>DOWNLOAD THE APP</h4>
        <a href="path-to-google-play-link">
          <img src="https://www.shoppersstop.com/images/footer_payment_paly_store_app.png" alt="Google Play" />
        </a>
        <a href="path-to-app-store-link">
          <img src="https://www.shoppersstop.com/images/footer_payment_paly_store_app.png" alt="App Store" />
        </a>
      </div>
      <div class="verified-by">
        <h4>VERIFIED BY</h4>
        <img src="https://www.shoppersstop.com/images/entrust.png" alt="Verified by Visa" />
        <img src="https://www.shoppersstop.com/images/visa_verified.png" alt="Mastercard SecureCode" />
        <img src="https://www.shoppersstop.com/images/master_card.png" alt="PCI DSS" />
      </div>
    </div>
    <div class="footer-middle">
      <h4>FOLLOW US ON</h4>
      <a href="path-to-twitter-link"><img src="https://cmsimages.shoppersstop.com/twitter_b1a5711e35/twitter_b1a5711e35.png" alt="Twitter" /></a>
      <a href="path-to-instagram-link"><img src="https://cmsimages.shoppersstop.com/Instagram_d01a55135b/Instagram_d01a55135b.png" alt="Instagram" /></a>
    </div>
    <div class="footer-services">
      <div class="service">
        <img src="https://www.shoppersstop.com/icons/easy_exchange.svg" alt="Easy Exchange & Return" />
        <p>Easy Exchange & Return</p>
      </div>
      <div class="service">
        <img src="https://www.shoppersstop.com/icons/secure_payment.svg" alt="Secure Payment" />
        <p>Secure Payment</p>
      </div>
      <div class="service">
        <img src="https://www.shoppersstop.com/icons/express_pickup.svg" alt="Express Pickup" />
        <p>Express Pickup</p>
      </div>
      <div class="service">
        <img src="https://www.shoppersstop.com/icons/authentic_products.svg" alt="Authentic Products" />
        <p>100% Genuine</p>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-column">
        <h4>DEGITAL CAMERAS</h4>
        <ul>
          <li><a routerLink="electronics-spa/en/USD/Open-Catalogue/Cameras/Digital-Cameras/Digital-Compacts/c/576">Compact Cameras</a></li>
          <li><a routerLink="electronics-spa/en/USD/Open-Catalogue/Cameras/Digital-Cameras/Digital-SLR/c/578">SLR Cameras</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>CAMERAS</h4>
        <ul>
          <li><a href="electronics-spa/en/USD/Brands/Canon/c/brand_11">canon</a></li>
          <li><a href="electronics-spa/en/USD/Brands/Sony/c/brand_5">sony</a></li>
          <li><a href="electronics-spa/en/USD/Brands/Fujifilm/c/brand_75">fujiflim</a></li>
          <li><a href="electronics-spa/en/USD/Brands/Samsung/c/brand_26">samsung</a></li>
          <li><a href="electronics-spa/en/USD/Brands/Kodak/c/brand_88">kotak</a></li>
          <li><a href="electronics-spa/en/USD/Brands/Toshiba/c/brand_2">toshiba</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>ACCESSORIES</h4>
        <ul>
          <li><a href="">Kingston</a></li>
          <li><a href="">Lcidu</a></li>
          <li><a href="">TDK</a></li>
          <li><a href="">Sweex</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>SAP COMMERCE CLOUD</h4>
        <ul>
          <li><a href="https://www.sap.com/products/crm.html" target="_blank">About Sap Commerce Cloud</a></li>
          <li><a href="electronics-spa/en/USD/faq">Frequently Asked Questions</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>SAP CUSTOMER EXPERIENCE</h4>
        <ul>
          <li><a href="https://www.sap.com/products/crm.html" target="_blank">Visit SAP</a></li>
          <li><a href="electronics-spa/en/USD/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>FOLLOW US</h4>
        <ul>
          <li><a href="http://www.agile-commerce.com/" target="_blank">Agile Commerce Blog</a></li>
          <li><a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fgroups%2F5063400" target="_blank">Linked In</a></li>
          <li><a href="https://www.facebook.com/sapcx/" target="_blank">Facebook</a></li>
          <li><a href="https://x.com/i/flow/login?redirect_after_login=%2FSAP_CX" target="_blank">Twitter</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-credits">
      <!-- <p>&copy; 2020 SAP SE or an SAP affiliate company. All rights reserved.</p> -->
      <div>
        <a href="">Privacy Policy</a> |
        <a href="">Terms & Conditions</a> |
        <a href="">Disclaimer</a>
      </div>
    </div>
  </footer>
  