<h1>Static Page</h1>
<p>
  pages can be created in spartacus in a generic way. spartacus let you work
  with the router in a generic way.
</p>
<h3>Standard router</h3>
<p>
  the standard angular router works as expected. you cn use the router to link
  to any pages, for example the
  <a routerLink="/">home page</a>.
</p>
<p><a routerLink="demo/static/page">Static page Link to CMS data</a></p>

<h3>Semantic Links</h3>

<p>
  Semantic links in spartacus for example a link to
  the <a [routerLink]="{ cxRoute: 'cart' } | cxUrl">Cart Page</a>. Using the
  <i>cxUrl</i>, you can use a semantic link which is configurable and controlled
  in spartacus.
</p>
