<!-- <h1>Static Page</h1>
<p>
  pages can be created in spartacus in a generic way. spartacus let you work
  with the router in a generic way.
</p>
<h3>Standard router</h3>
<p>
  the standard angular router works as expected. you cn use the router to link
  to any pages, for example the
  <a routerLink="/">home page</a>.
</p>
<p><a routerLink="demo/static/page">Static page Link to CMS data</a></p>

<h3>Semantic Links</h3>

<p>
  Semantic links in spartacus for example a link to
  the <a [routerLink]="{ cxRoute: 'cart' } | cxUrl">Cart Page</a>. Using the
  <i>cxUrl</i>, you can use a semantic link which is configurable and controlled
  in spartacus.
</p> -->

<footer class="footer">

  <!-- <div class="unique-offerings">
    <div class="unique-header">
      <h3>Our <span>Unique Offerings</span></h3>
    </div>

    <div class="offerings-list">
      <div class="offering-item">
        <img src="https://cmsimages.shoppersstop.com/free_alterations_921e7d9e40/free_alterations_921e7d9e40.png"
          alt="Free Alterations" />
        <p>Free Alterations</p>
      </div>
      <div class="offering-item">
        <img src="https://cmsimages.shoppersstop.com/exchange_return_01082cf86e/exchange_return_01082cf86e.png"
          alt="Easy Exchange & Return" />
        <p>Easy Exchange & Return</p>
      </div>
      <div class="offering-item">
        <img src="https://cmsimages.shoppersstop.com/truck_5f997c392b/truck_5f997c392b.png" alt="Express Delivery" />
        <p>Express Delivery</p>
      </div>
      <div class="offering-item">
        <img src="https://cmsimages.shoppersstop.com/white_glove_1_4d8097352a/white_glove_1_4d8097352a.png"
          alt="Personalized Engraving" />
        <p>Personalized Engraving</p>
      </div>
      <div class="offering-item">
        <img src="https://cmsimages.shoppersstop.com/stylishadvace_7d8ff2996a/stylishadvace_7d8ff2996a.png"
          alt="Curated Styling Advice" />
        <p>Curated Styling Advice</p>
      </div>
      <div class="offering-item">
        <img src="https://cmsimages.shoppersstop.com/CLICK_a2ea241387/CLICK_a2ea241387.png" alt="Click & Collect" />
        <p>Click & Collect</p>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="payment-options">
      <h4>PAY SECURELY BY</h4>
      <img src="https://www.shoppersstop.com/images/visa.png" alt="Visa" />
      <img src="https://www.shoppersstop.com/images/masters_card.png" alt="Master" />
      <img src="https://www.shoppersstop.com/images/rupay.png" alt="RuPay" />
      <img src="https://www.shoppersstop.com/images/american_express.png" alt="RuPay" />
    </div>
    <div class="contact-us">
      <h4>REACH OUT TO US</h4>
      <p>
        For any queries, please write to us:
        <a href="https://laderatechnology.com/" target="_blank">laderatechnology.com</a>
      </p>
    </div>
    <div class="download-app">
      <h4>DOWNLOAD THE APP</h4>
      <a href="path-to-google-play-link">
        <img src="https://www.shoppersstop.com/images/footer_payment_paly_store_app.png" alt="Google Play" />
      </a>
      <a href="path-to-app-store-link">
        <img src="https://www.shoppersstop.com/images/footer_appstore.png" alt="App Store" />
      </a>
    </div>
    <div class="verified-by">
      <h4>VERIFIED BY</h4>
      <img src="https://www.shoppersstop.com/images/entrust.png" alt="Verified by Visa" />
      <img src="https://www.shoppersstop.com/images/visa_verified.png" alt="Mastercard SecureCode" />
      <img src="https://www.shoppersstop.com/images/master_card.png" alt="PCI DSS" />
      <img src="https://www.shoppersstop.com/images/dss.png" alt="PCI DSS" />
    </div>
  </div>
  <div class="footer-middle">
    <h4>FOLLOW US ON</h4>
    <a href="path-to-twitter-link"><img
        src="https://cmsimages.shoppersstop.com/twitter_b1a5711e35/twitter_b1a5711e35.png" alt="Twitter" /></a>
    <a href="path-to-instagram-link"><img
        src="https://cmsimages.shoppersstop.com/Instagram_d01a55135b/Instagram_d01a55135b.png" alt="Instagram" /></a>
  </div>
  <div class="footer-services">
    <div class="service">
      <img src="https://www.shoppersstop.com/icons/easy_exchange.svg" alt="Easy Exchange & Return" />
      <p>Easy Exchange & Return</p>
    </div>
    <div class="service">
      <img src="https://www.shoppersstop.com/icons/secure_payment.svg" alt="Secure Payment" />
      <p>Secure Payment</p>
    </div>
    <div class="service">
      <img src="https://www.shoppersstop.com/icons/express_pickup.svg" alt="Express Pickup" />
      <p>Express Pickup</p>
    </div>
    <div class="service">
      <img src="https://www.shoppersstop.com/icons/authentic_products.svg" alt="Authentic Products" />
      <p>100% Genuine</p>
    </div>
  </div> -->
  <div class="footer-bottom">
    <!-- <div class="footer-column">
      <h4>DEGITAL CAMERAS</h4>
      <ul>
        <li><a routerLink="Open-Catalogue/Cameras/Digital-Cameras/Digital-Compacts/c/576">Compact Cameras</a></li>
        <li><a routerLink="Open-Catalogue/Cameras/Digital-Cameras/Digital-SLR/c/578">SLR Cameras</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>CAMERAS</h4>
      <ul>
        <li><a routerLink="Brands/Canon/c/brand_10">canon</a></li>
        <li><a routerLink="Brands/Sony/c/brand_5">sony</a></li>
        <li><a routerLink="Brands/Fujifilm/c/brand_75">fujiflim</a></li>
        <li><a routerLink="Brands/Samsung/c/brand_26">samsung</a></li>
        <li><a routerLink="Brands/Kodak/c/brand_88">kotak</a></li>
        <li><a routerLink="Brands/Toshiba/c/brand_2">toshiba</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>ACCESSORIES</h4>
      <ul>
        <li><a routerLink="">Kingston</a></li>
        <li><a routerLink="">Lcidu</a></li>
        <li><a routerLink="">TDK</a></li>
        <li><a routerLink="">Sweex</a></li>
      </ul>
    </div> -->
    <div class="footer-column">
      <h4>SAP COMMERCE CLOUD</h4>
      <ul>
        <li><a routerLink="https://www.sap.com/products/crm.html" target="_blank">About Sap Commerce Cloud</a></li>
        <li><a routerLink="faq" (click)="scrollToTop()">Frequently Asked Questions</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>SAP CUSTOMER EXPERIENCE</h4>
      <ul>
        <li><a routerLink="https://www.sap.com/products/crm.html" target="_blank">Visit SAP</a></li>
        <li><a routerLink="contact" (click)="scrollToTop()">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>FOLLOW US</h4>
      <ul>
        <li><a routerLink="http://www.agile-commerce.com/" target="_blank">Agile Commerce Blog</a></li>
        <li><a
            routerLink="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fgroups%2F5063400"
            target="_blank">Linked In</a></li>
        <li><a routerLink="https://www.facebook.com/sapcx/" target="_blank">Facebook</a></li>
        <li><a routerLink="https://x.com/i/flow/login?redirect_after_login=%2FSAP_CX" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>

  <div class="popular-search">
    <h3>BRANDS</h3>
    <h4>CAMERAS:</h4>
    <div class="search-links">
      <a routerLink="Brands/Canon/c/brand_10" (click)="scrollToTop()">canon</a> |
      <a routerLink="Brands/Sony/c/brand_5" (click)="scrollToTop()">sony</a> |
      <a routerLink="Brands/Fujifilm/c/brand_75" (click)="scrollToTop()">fujiflim</a> |
      <a routerLink="Brands/Samsung/c/brand_26" (click)="scrollToTop()">samsung</a> |
      <a routerLink="Brands/Kodak/c/brand_88" (click)="scrollToTop()">kotak</a> |
      <a routerLink="Brands/Toshiba/c/brand_2" (click)="scrollToTop()">toshiba</a>
    </div>
    <br>
    <h4>ACCESSORIES:</h4>
    <div class="search-links">
      <a routerLink="Brands/Kingston/c/brand_18" (click)="scrollToTop()">Kingston</a> |
      <a routerLink="Brands/ICIDU/c/brand_2171" (click)="scrollToTop()">Lcidu</a> |
      <a routerLink="Brands/TDK/c/brand_251" (click)="scrollToTop()">TDK</a> |
      <a routerLink="Brands/Sweex/c/brand_702" (click)="scrollToTop()">Sweex</a>
    </div>
  </div>


  <div class="popular-search">
    <h3>DIGITAL CAMERAS</h3>
    <div class="search-links">
      <a routerLink="Open-Catalogue/Cameras/Digital-Cameras/Digital-Compacts/c/576" (click)="scrollToTop()">Compact
        Cameras</a>|
      <a routerLink="Open-Catalogue/Cameras/Digital-Cameras/Digital-SLR/c/578" (click)="scrollToTop()">SLR Cameras</a>|
      <a routerLink="Open-Catalogue/Cameras/Film-Cameras/c/574" (click)="scrollToTop()">Flim Cameras</a>|
      <a routerLink="Open-Catalogue/Cameras/Hand-held-Camcorders/c/584" (click)="scrollToTop()">Camcorders</a>|
      <a routerLink="Open-Catalogue/Cameras/Webcams/c/577" (click)="scrollToTop()">Webcams</a>
    </div>
  </div>

  <div class="popular-search">
    <h3>ACCESSORIES</h3>
    <h4>Gears:</h4>
    <div class="search-links">
      <a routerLink="Open-Catalogue/Cameras/Camera-Accessories-26-Supplies/Camera-Flashes/c/586"
        (click)="scrollToTop()">Camera Flashes</a>|
      <a routerLink="Open-Catalogue/Cameras/Camera-Accessories-26-Supplies/Tripods/c/587"
        (click)="scrollToTop()">Tripods</a>|
      <a routerLink="Open-Catalogue/Cameras/Camera-Accessories-26-Supplies/Camera-Lenses/c/588"
        (click)="scrollToTop()">Camera Lenes</a>|
      <a routerLink="Open-Catalogue/Data-storage/Flash-Memory/c/902" (click)="scrollToTop()">Flash Memory</a>|
      <a routerLink="Open-Catalogue/Components/Power-Supplies/c/816" (click)="scrollToTop()">Power Supplies</a>
    </div>
    <br>
    <h4>Supplies:</h4>
    <div class="search-links">
      <a routerLink="Open-Catalogue/Cameras/Camera-Accessories-26-Supplies/Colour-Films/c/597"
        (click)="scrollToTop()">Color Films</a>|
      <a routerLink="Open-Catalogue/Cameras/Camera-Accessories-26-Supplies/Black-26-White-Films/c/598"
        (click)="scrollToTop()">Black & White Films</a>|
      <a routerLink="Open-Catalogue/Cameras/Camera-Accessories-26-Supplies/Blank-Video-Tapes/c/604"
        (click)="scrollToTop()">Blank Videotapes</a>
    </div>
  </div>

  <!-- <div class="footer-credits">
     <p>&copy; 2020 SAP SE or an SAP affiliate company. All rights reserved.</p>
    <div>
      <a href="">Privacy Policy</a> |
      <a href="">Terms & Conditions</a> |
      <a href="">Disclaimer</a>
    </div>
  </div> -->
</footer>